<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TextLinker</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-highlighter"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>TextLinker</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index"><i class="far fa-star"></i><span>Главная страница</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="input"><i class="far fa-file-alt"></i><span>Ввод текста</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="search" pointer-events="none"><i class="fas fa-search"></i><span>Выбор текста</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="info"><i class="fas fa-info"></i><span>О программе</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="height: 50px;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button" style="margin: 0px;margin-right: 0px;padding-right: 6px;padding-left: 6px;"><i class="fas fa-bars"></i></button>
                        <h4 class="text-nowrap text-left text-dark mb-0">Выбор текста</h4>
                    </div>
                </nav>
                <div class="container-fluid" style="padding: 5px;">
                    <a href="#" style="text-decoration: none; display: none;" enabled="false">
                        <div class="card text-left" style="margin-bottom: 20px;">
                            <div class="card-body text-left" href="#" style="padding: 5px;"><i class="fa fa-check" style="font-size: 20px;color: rgb(90,92,105);"></i><i class="fa fa-gear" style="font-size: 20px;color: rgb(90,92,105);"></i><span style="padding: 5px;font-size: 20px;color: rgb(90,92,105);">Text</span></div>
                        </div>
                    </a>{% if articles %}
	{% for x in articles %}
		<a href="result/{{x.id}}" style="text-decoration : none;">
			<div class="card text-left" style="margin-bottom: 20px;">
				<div class="card-body text-left" style="padding: 5px;" href="#">
					{% if x.processed %}
						<i class="fa fa-check" style="font-size: 20px;color: rgb(90,92,105);"></i>
					{% else %}
						<i class="fa fa-gear" style="font-size: 20px;color: rgb(90,92,105);"></i>
					{% endif %}
					<span style="padding: 5px;font-size: 20px;color: rgb(90,92,105);">{{x.text}}</span></div>
			</div>
		</a>
	{% endfor %}
{% else %}
	<div class="card text-left" style="margin-bottom: 5px;">
		<div class="card-body text-left" style="padding: 5px;" href="#">
			<span style="padding: 5px;font-size: 20px;color: rgb(90,92,105);">В базе еще нет текстов, но вы можете ввести новый</span>
			<div class="buttons"><a class="btn btn-primary" role="button" href="input" style="margin: 6px;">Ввод текста</a></div>
		</div>
	</div>
{% endif %}</div><nav>
    <ul class="pagination">
		{{pagination.links}}
	</ul>
</nav></div>
            <footer class="bg-white sticky-footer" style="padding: 15px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Kazan 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>